:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-black: #222222;
    --clr-white: #ffffff;
    --clr-red: #EB5353;
    --clr-yellow: #F9D923;
    --clr-green: #36AE7C;
    --clr-blue: #187498;
    --radius: 0.5rem;
    --spacing: 0.25rem;
    --font-bold-900: 900;
}

body {
    font-family: var(--ff-primary);
}

section {
    height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.containerNumber {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.spanPrediction {
    font-size: 1rem;
    font-weight: var(--font-bold-900);
    margin: 0.5em;
    padding: 0.4em;
    width: 3em;
    height: 1em;
    border-radius: 1em;
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanRandom {
    font-size: 2.5rem;
    font-weight: var(--font-bold-900);
    margin: 0.1em;
    padding: 0.2em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: var(--radius);
    border-color: var(--clr-black);
    box-shadow: 5px 9px 5px #2222223b;
    color: var(--clr-black);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: var(--font-bold-900);
    padding: 0.75rem 1.25rem;
    letter-spacing: var(--spacing);
    text-align: center;
}

.btn {
    background: transparent;
    border-radius: var(--radius);
    border-color: var(--clr-black);
    box-shadow: 5px 9px 5px #2222223b;
    color: var(--clr-black);
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: var(--font-bold-900);
    padding: 0.75rem 1.25rem;
    display: inline-block;
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}

.btn:hover {
    background: var(--clr-black);
    color: var(--clr-white);
}

.message {
    font-size: 1rem;
    padding: 0.5em;
    border-radius: var(--radius);
    text-transform: uppercase;
    font-weight: var(--font-bold-900);
    letter-spacing: var(--spacing);
}

.yellow {
    background: var(--clr-yellow);
}

.red {
    background: var(--clr-red);
}

.blue {
    background: var(--clr-blue);
}

.green {
    background: var(--clr-green);
}

.black {
    background: var(--clr-black);
}