:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-black: #222222;
    --clr-white: #ffffff;
    --clr-green: #2ed550;
    --clr-warning: #d5c62e;
    --radius: 0.5rem;
    --spacing: 0.25rem;
    --font-bold-900: 900;
}

body {
    font-family: var(--ff-primary);
}

section {
    height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.listNumberRandom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.listNumberRandom span {
    font-size: 3rem;
    font-weight: var(--font-bold-900);
    margin: 1rem;
    padding: 0.4em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 3px 5x 5px #2222223b;
    background: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: transparent;
    border-radius: var(--radius);
    border-color: var(--clr-black);
    box-shadow: 5px 9px 5px #2222223b;
    color: var(--clr-black);
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: var(--font-bold-900);
    padding: 0.75rem 1.25rem;
    display: inline-block;
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}

.btn:hover {
    background: var(--clr-black);
    color: var(--clr-white);
}

.messageFinal {
    font-size: 1rem;
    padding: 1em;
    border-radius: var(--radius);
    text-transform: uppercase;
    font-weight: var(--font-bold-900);
    letter-spacing: var(--spacing);
    background: var(--clr-warning);
}